<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-lg-8">
      <form class="card card-sm" action='/'>
          <div class="card-body row no-gutters align-items-center">
              <div class="col-auto">
                  <i class="fas fa-search h4 text-body"></i>
              </div>
              <!--end of col-->
              <div class="col-md-10">
                  <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search channels or shows" name='search'>
              </div>
              <!--end of col-->
              <div class="col-md-2">
                  <button class="btn btn-lg btn-success" type="submit">Search</button>
              </div>
              <!--end of col-->
          </div>
      </form>
  </div>
</div>
<h2>Channels</h2>
<table class='table'>
	<thead>
		<th>
			Name
		</th>
		<th>
			Language
		</th>
		<th>
			No. of shows
		</th>
	</thead>
	<tbody>
		<% @channels.each do |channel| %>
		  <tr>
		  	<td><%= channel.name %></td>
		  	<td><%= channel.language %></td>
		  	<td><%= channel.shows.count %></td>
		  </tr>
		<% end %>
	</tbody>
</table>

<h2>Shows</h2>
<table class='table'>
	<thead>
		<th>
			Title
		</th>
		<th>
			Description
		</th>
		<th>
			Channel(s)
		</th>
		<th>Actions</th>
	</thead>
	<tbody>
		<% if @shows.present? %>
			<% @shows.each do |show| %>
			  <tr>
			  	<td><%= show.title %></td>
			  	<td><%= show.description %></td>
			  	<td><% show.channels.each do |channel| %>
			  		<span><%= channel.name %></span>
			  		<% end %>
			  	</td>
			  	<td><%= link_to favorites_path(user_id: current_user.id, show_id: show.id, channel_id: show.channels.first.id), method: :post do %>
			  		Add to favorites
			  		<% end %>
			  	</td>
			  </tr>
			<% end %>
		<% else %>
		  <tr>
		  	<td colspan="3">
		  		No records found
		  	</td>
		  </tr>
		<% end %>
	</tbody>
</table>